<h1>All Posts</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Allow Comments</th>
        </tr>
    </thead>
    <tbody>
        {{!-- foreach | each: https://handlebarsjs.com/examples/partials/partial-block-parameters.html --}}
        {{#each posts}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{title}}</td>
            <td>{{status}}</td>
            <td>{{allowComments}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>